.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.env
venv
shl_env
.venv
.DS_Store
.pytest_cache
.mypy_cache
.ipynb_checkpoints

.fastembed_cache/
data/raw
data/artifacts/faiss.index
data/artifacts/relationship_graph.json